@font-face {
  font-family: "DomaineDisplayNarrow";
  src: url('../assets/fonts/DomaineDisplayNarrow.otf');
}

@font-face {
  font-family: "TestDomaineText";
  src: url('../assets/fonts/TestDomaineText.otf');
}

@font-face {
  font-family: "TestSoehne";
  src: url('../assets/fonts/TestSoehne.otf');
}
